@model RequestViewModel

@{
    ViewData["Title"] = "youtube";
}
@Html.Partial("_alerts")

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="@("https://www.youtube.com/embed/" + Model.RequestUrl)" allow="encrypted-media" allowfullscreen></iframe>
</div>

<div>
    <h4>Comments</h4>

    @if (ViewBag.refinedComments != null)
    {
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Comment</th>
                    <th>Date</th>
                    <th>Rate</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.refinedComments)
                {
                    <tr>
                        <td>@item.Username</td>
                        <td>@item.Comment</td>
                        <td>@item.Date</td>
                        <td>@item.Rating</td>
                        <td> <a href="@item.Link" target="_blank">View</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>
