@model RequestViewModel

@{
    ViewData["Title"] = "youtube";
}

<div>
    <h4>Comment Request View</h4>
    <h1>Thank you!</h1>
    @Html.Partial("_alerts")
    <p>We reiceved your request and we're going to get in touch with you soon!</p>
    <p>You don't really need to wait. It will be sent to your email</p>
    @*<p>Request Id: @Model.Id</p>*@
    <p>Request Url: <a href="@Model.RequestUrl" class="btn btn-info" target="_blank">Go to video page</a></p>
    <p>Delivery Email: @Model.Email</p>
    <p>Please, Do not refresh this page</p>
    <p>
        <a href="/" class="btn btn-primary">Go back to the Homepage</a> To request for another comment!
    </p>
</div>

<div>

    @if (ViewBag.refinedComments != null)
    {
        <h4>Comments (First 20)</h4>
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Comment</th>
                    <th>Date</th>
                    <th>Rate</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.refinedComments)
                {
                    <tr>
                        <td>@item.Username</td>
                        <td>@item.Comment</td>
                        <td>@item.Date</td>
                        <td>@item.Rating</td>
                        <td> <a href="@item.Link" target="_blank">View</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        @: Comment is disabled for this video

    }
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>
